.body{
margin: 0;
padding: 0;

}


*{margin:0; padding:0;}
	.menu{width:100%; height:48px; background:#000; margin:0 auto;border-bottom:4px solid red;position: fixed;top: 0px;left: 0px;right: 0px;}
	.menu ul li {float:left;list-style-type:none;}
	.menu ul li a{color:#fff; font:17px Arial;text-decoration:none;display:block; padding:14px 15px;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;}
	.menu ul li a:hover{
		background:red;
    color:yellow;
    margin-top: auto;
  }
  

.esnek{
  width: 100%;
  height: 280px; 
}


#slider-wrapper{
  position: relative;
  width:800px;
  height:600px;
  overflow: hidden;
  margin: auto;
}

.img-bir, .img-iki, .img-uc, .img-dort,.img-bes{
  position: absolute;
  width:800px;
  height:400px;
}


.img-bir{left: 0px;}
.img-iki{left: 800px;}
.img-uc{left: 1600px;}
.img-dort{left: 2400px;}
.img-bes{left: 3200px;}


#slider-wrapper > .slider{
  position: absolute;
  left:0px;
  width: 3200px;
  height: 400px;
  -webkit-animation-duration: 15s;
  -webkit-animation-name: sliders;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-duration: 15s;
  -moz-animation-name: sliders;
  -moz-animation-iteration-count:infinite;
  -ms-animation-duration: 15s;
  -ms-animation-name: sliders;
  -ms-animation-iteration-count:infinite;
  animation-duration: 15s;
  animation-iteration-count:infinite;
 
}

#slider-wrapper > .slider:hover{
-webkit-animation-play-state:paused;
}

#slider-wrapper > .slider > a > span{
  position:absolute;
  background:#333;
  color:white;
  left:0;
  top:80%;
  padding:8px 22px;
  display:table;
}
#slider-wrapper a{
   font-size:18px;
   font-family:Arial;
}


@-webkit-keyframes sliders{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:-800px;}
  30% {left:-800px;}
  40% {left:-1600px;}
  50% {left:-1600px;}
  60% {left:-2400px;}
  70% {left:-2400px;}
  80% {left:-3200px;}
  90% {left:-3200px;}
}
@-moz-keyframes sliders{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:-800px;}
  30% {left:-800px;}
  40% {left:-1600px;}
  50% {left:-1600px;}
  60% {left:-2400px;}
  70% {left:-2400px;}
  80% {left:-3200px;}
  90% {left:-3200px;}
}
@-ms-keyframes sliders {
  0% {left:0px;}
  10% {left:0px;}
  20% {left:-800px;}
  30% {left:-800px;}
  40% {left:-1600px;}
  50% {left:-1600px;}
  60% {left:-2400px;}
  70% {left:-2400px;}
  80% {left:-3200px;}
  90% {left:-3200px;}
}
@keyframes sliders{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:-800px;}
  30% {left:-800px;}
  40% {left:-1600px;}
  50% {left:-1600px;}
  60% {left:-2400px;}
  70% {left:-2400px;}
  80% {left:-3200px;}
  90% {left:-3200px;}
}

{box-sizing: border-box;}

.alt-menu {
  width:100%;
  position:relative;
  float:left;
}

#acilirmenu2{
  display: none;
}
#menum2 { display:none;	}
#acilirmenu2:checked + #menum2 { display:block;	}

.mother{
  z-index:9999;
  position:fixed;
  bottom:0px;
  right:0px;
  background-color: black;
  display: grid;
  

}

.menum2{


}


{box-sizing: border-box;}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.mother{
  z-index:9999;
  position:fixed;
  bottom:0px;
  right:0px;
  background-color: black;
  display: grid;
  

}